@import url(/assets/css/fonts.css);

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 1.25rem;

    line-height: 1;
    letter-spacing: normal;
    vertical-align: -.25rem;

    direction: ltr;
    text-transform: none;

    word-wrap: normal;
    white-space: nowrap;

    display: inline-block;
    
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}